@charset "utf-8";

header{
  	position: fixed;
  	background-color: #E0D585;
  	border-bottom: 5px solid #fff;
  	width: 100%;
  	padding: 20px 15px 5px;
  	top: 0;
  	height: 70px;
  	z-index: 1000;
  	display: flex;
  	align-items: center;
  	justify-content: space-around;

}

header nav{
	margin-left: -60px;
}

header nav a{
			display: inline-block;
			margin-right: 5px;
            text-decoration: none;
            font-family: "Shipporighyth Mincho", serif;
            color: white;
            background-color: #13325B;
            font-size: 20px;
            font-weight: bold;
            padding: 4px 10px;
            border: 5px solid ; /* 金色の枠線 */
            border-image: linear-gradient(to bottom, #CB9B0C, #FAF3BF, #987409,#EECD60, #654D06, #654D06) 1;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.3), inset 1px 1px 1px rgba(255,255,255,0.3);
            /*text-shadow: 1px 1px 2px black;*/
            min-width: 100px;
            text-align: center;
            /* 立体感を出すためのグラデーション設定 */
}

header nav #login{
	color: #ffffff;
	background-color: #A33535;
}

footer{
	background: linear-gradient(to bottom,#D9D9D9,#13325B);	
	padding-top: 50px;
	text-align: center;
}

footer ul{
	list-style: none;
	padding-left: 0;
	margin: 80px 0;
}

footer li{
	margin: 40px 0;
}

footer #sign{
	color: #ffffff;
	background-color: #000000;
	padding: 20px;
	border-top: 5px solid #E0D585;
	
}

.btn a{
	display: block;
	background-color: rgba(0,0,0,0.3);
	width: 45%;
	margin: 20px auto ;
	padding: 15px 0px;
	font-size: 20px;
	font-weight: 700;
	color: #ffffff;
	border: 8px solid;
	border-image: linear-gradient(to bottom, #CB9B0C, #FAF3BF, #987409,#EECD60, #654D06, #654D06) 1;
}

.btn a{
	color: #ffffff;
	text-decoration: none;

}




.attention{
	text-align: left;
	margin: 0 70px;
	
}

p{
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
}